# Description
# -----------
# This workflow is intended to run anytime there is a push on a `develop` branch. 

name: Develop Branch

on:
  push:
    branches: 
    - develop*
  workflow_dispatch:

env:
  TZ: America/Indianapolis

jobs:
  deploy:
    if: ( github.event_name == 'workflow_dispatch' || github.event_name == 'push' ) && startsWith(github.ref, 'refs/heads/develop')
    name: Verify and Deploy Maven Project
    runs-on: [ Linux ]
    container:
      image: registry.docker.iu.edu/esas-build-prod/esas-java-build
      credentials:
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
      volumes:
        - /opt/actions/cache/m2/repository:/root/.m2/repository

    steps:
       - name: Clone GitHub repository
         uses: actions/checkout@v3
     
       - name: Create gitconfig
         run: echo -n '${{ secrets.GITCONFIG }}' > /tmp/.gitconfig

       - name: Clone GitHub repository
         uses: actions/checkout@v3
         env:
          GIT_CONFIG_GLOBAL: /tmp/.gitconfig

       - name: Create maven settings.xml
         run: echo -n '${{ secrets.MAVEN_SETTINGS }}' > /root/.m2/settings.xml

       - name: Compile, Verify, and Build Javadoc
         id: verify
         run: |
          mvn clean verify -U --batch-mode
          
       - name: Deploy Artifacts
         run: |
          mvn deploy -DskipTests --batch-mode

       - name: Publish Documentation
         if: steps.verify.outcome == 'success'
         run: |
          git config --global --add safe.directory $PWD
          git fetch origin github_pages
          git checkout github_pages
          git pull
          rm -rf docs/$GITHUB_REF_NAME
          mkdir -p docs/$GITHUB_REF_NAME
          for a in $(find -type d -regex '.*/\(apidocs\|jacoco\(-aggregate\)?\)' | cut -b3- | egrep -v '^docs/')
          do
            t=docs/$GITHUB_REF_NAME/${a%%target*}
            mkdir -p $t
            mv $a $t
          done
          git config user.name eshrastg
          git config user.email ess-dev-l@iu.edu
          git add docs
          git commit -m "publish $GITHUB_ACTOR $GITHUB_REF_NAME"
          git push
          
