# Description
# -----------
# This workflow is intended to run anytime there is a push on a `feature`
# branch. Ephemeral branches
# follow the format `feature/<some name>`. This workflow is intended to verify build and push API documentation. During workflow execution the branch will
# be marked pending to prevent it from being merged. It must also complete successfully for the
# job to be marked a success, therefore allowing the branch to be merged.

name: Ephemeral Branch

on:
  push:
    branches:
    - feature/**
  workflow_dispatch:

env:
  TZ: America/Indianapolis

jobs:
  verify:
    if: ( github.event_name == 'workflow_dispatch' || github.event_name == 'push' ) && startsWith(github.ref, 'refs/heads/feature/')
    name: Build and Verify Feature Branch
    runs-on: [ Linux ]
    container:
      image: registry.docker.iu.edu/esas-build-test/esas-java-build:feature-STARCH-1013-image_workflow_refactor
      credentials:
        username: ${{ secrets.TEST_REGISTRY_USERNAME }}
        password: ${{ secrets.TEST_REGISTRY_PASSWORD }}
      volumes:
        - /opt/actions/cache/m2/repository:/root/.m2/repository

    steps:
      - name: Create gitconfig
        run: echo -n '${{ secrets.GITCONFIG }}' > /tmp/.gitconfig

      - name: Clone GitHub repository
        uses: actions/checkout@v3
        env:
          GIT_CONFIG_GLOBAL: /tmp/.gitconfig

      - name: Create maven settings.xml
        run: echo -n '${{ secrets.MAVEN_SETTINGS }}' > /root/.m2/settings.xml

      - name: Compile and Build Javadoc
        id: compile
        run: |
          mvn clean verify -DskipTests -U --batch-mode

      - name: Verify Test Coverage
        run: |
          mvn verify -Dmaven.javadoc.skip --batch-mode

      - name: Publish Documentation
        if: steps.compile.outcome == 'success'
        run: |
          publish_docs
